---
interface Props {
  icon: any
  title: string
  description: string
}

const { icon: Icon, title, description } = Astro.props
---

<article class="text-center py-4 px-6 bg-zinc-800 border border-zinc-400/20 rounded-xl">
  <div class="flex justify-center pt-2 pb-4 text-theme">
    {
      Icon ? <Icon width={56} /> : null
    }
  </div>
  
  <h4 class="text-xl text-zinc-100 font-medium">{title}</h4>
  <p class="mt-2 text-secondary">{description}</p>
</article>