---
interface Props {
  icon: any
  name: string
  description: string
}

const { icon, name, description } = Astro.props
---

<article class="flex items-center py-2 px-6 bg-zinc-800 border border-zinc-400/20">
  <div class="size-20"></div>
  
<div class="flex flex-col items-start">
  <h4 class="text-xl text-zinc-100 font-medium">{name}</h4>
  <p class="mt-2 text-sm text-zinc-300">{description}</p>
</div>
</article>