---
interface Props {
  number: number
  title: string
  description: string
}

const { number, title, description } = Astro.props
---

<div class="relative flex flex-col items-center">
  <div class="flex h-14 w-14 items-center justify-center rounded-full background-theme text-xl font-bold text-zinc-100">
    {number}
  </div>
  <div class="mt-4 text-center max-w-[300px]">
    <h3 class="text-xl font-bold text-zinc-100">{title}</h3>
    <p class="mt-2 text-zinc-300">{description}</p>
  </div>
</div>