---
import PostCard from "../components/blog/PostCard.astro"
import Layout from "../layouts/Layout.astro"
import { getRecentPosts } from "../lib/wpapi"
import type { WpPost } from "../types"

const recentPosts = await getRecentPosts()
---

<Layout
  title="Blog - Recent Posts | XLynX AI"
  description="Stay updated with the latest articles and insights about AI, machine learning, and technology trends from XLynX AI's blog."
>
  <section class="px-8 md:px-14 lg:px-40 xl:px-50 pt-24">
    <h1 class="text-4xl text-zinc-100">Recent Entries</h1>

    <div class="swiper mt-10">
      <div class="swiper-wrapper *:swiper-slide">
        {
          recentPosts.length > 0 ? (
            recentPosts.map((post: WpPost) => (
              <PostCard
                featuredImageUrl={post.featuredImageUrl}
                title={post.title}
                slug={post.slug}
                extraClasses="swiper-slide"
                date={post.date}
              />
            ))
          ) : (
            <p class="text-4xl text-zinc-100 text-secondary mt-10">No post were published yet.</p>
          )
        }
      </div>
    </div>
  </section>

  <script>
    import Swiper from 'swiper'
    import { Pagination, Autoplay } from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';
  
    const swiper = new Swiper('.swiper', {
      modules: [Pagination, Autoplay],
      direction: 'horizontal',
      loop: true,
      autoplay: true,
      slidesPerView: 1,
      spaceBetween: 10,
      breakpoints: {
        1440: {
          slidesPerView: 3,
          spaceBetween: 10
        }
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: true
      },
      scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
      },
    })
  </script>
</Layout>