---
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import { ServicesShowcase } from '../components/ServicesShowcase';
---

<Layout
	title="XLynx AI - Your AI Solutions Partner"
	description="XLynx AI provides cutting-edge artificial intelligence solutions and services to help businesses innovate and transform their operations. Expert consulting, custom AI development, and intelligent automation solutions."
>
	<Hero />
	<div class="pb-32">
		<Services />
	</div>
	
	<div class="pb-32">
		<ServicesShowcase
			client:only
		/>
	</div>

	<div class="pb-32">
		<Testimonials />
	</div>

	<div class="fixed top-0 left-0 right-0 mx-2 lg:mx-20 xl:mx-30 md:mx-6 h-full border-l-2 border-r-2 border-dashed border-l-[#00B4FB]/5 border-r-gray-400/5 z-0"></div>
</Layout>
