---
import Button from "./ui/Button.astro"
import MemberCard from "./about/MemberCard.astro"

const members = [
  {
    image: null,
    name: "Lalo",
    description: "Lorem ipsum dolor sit amet...",
    position: "CEO"
  },
  {
    image: null,
    name: "Luis",
    description: "Lorem ipsum dolor sit amet...",
    position: "Marketing Engineer"
  },
  {
    image: null,
    name: "Randy",
    description: "Lorem ipsum dolor sit amet...",
    position: "Senior Developer"
  },
]
---

<section id="about" class="px-8 md:px-14 lg:px-40 xl:px-50 mb-20 pt-10 sm:pt-20 relative z-1">
  <div class="mb-32 flex justify-start">
    <div class="md:max-w-6/8">
      <h1 class="text-4xl sm:text-7xl text-zinc-100 mb-4">About Us</h1>
      <h4 class="text-xl sm:text-2xl text-zinc-300 mb-8">A passionate team focused on web development and artificial intelligence, transforming ideas into digital solutions that create impact.</h4>
      <p class="text-sm sm:text-md text-secondary">
        We were born from the conviction that technology should be accessible and transformative. Our team combines years of experience in web development with artificial intelligence innovation to create solutions that not only work, but drive our clients' growth. We believe in the power of well-executed ideas and the importance of building lasting relationships based on trust and exceptional results.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-stretch lg:grid-cols-2 2xl:grid-cols-3 gap-10">
    {
      members.map(member => (
        <MemberCard
          image={member.image}
          name={member.name}
          description={member.description}
          position={member.position}
        />
      ))
    }
  </div>

  <div class="mt-24">
    <h3 class="text-zinc-100 mb-10 text-center text-2xl">Ready to get to know us better? Let's talk about your next project.</h3>
    <div class="text-center">
      <a
        href="javascript:void(0)"
        data-cal-link="luis-roberto-leyva-galban-kze0qq/30min"
        data-cal-namespace="30min"
        data-cal-config='{"layout":"month_view"}'
      >
        <Button freeBadge>GET A QUOTE</Button>
      </a>
    </div>
  </div>
</section>