---
import Anchor from "./ui/Anchor.astro";
import lynx from '../assets/img/lynx.png'
---

<footer class="relative z-1 background-default">
  <div class="px-8 lg:px-40 2xl:px-80 xl:px-60 md:px-14">
    <div class="pt-30 grid gap-8 grid-cols-2 sm:grid-cols-4 ">
      <div>
        <span class="text-primary font-semibold text-4xl">
          <img src={lynx.src} alt="lynx_logo" class="size-18">
        </span>
    
        <p class="mt-4 text-secondary text-sm max-w-7/8">Your reliable web development and AI integration.</p>
      </div>
    
      <div>
        <h6 class="text-theme font-medium">Links</h4>
    
        <ul class="mt-4 space-y-2 *:text-sm">
          <li><Anchor href="/">Home</Anchor></li>
          <li><Anchor href="/services/web-development">Web Development</Anchor></li>
          <li><Anchor href="/services/ai-integration">AI Integration</Anchor></li>
          <li><Anchor href="/about">About Us</Anchor></li>
          <li><Anchor href="/blog">Blog</Anchor></li>
          <li><Anchor href="/contact">Contact</Anchor></li>
        </ul>
      </div>
    
      <div>
        <h6 class="text-theme font-medium">Legal</h4>
    
        <ul class="mt-4 space-y-2 *:text-sm">
          <li><Anchor href="/privacy">Privacy Policy</Anchor></li>
          <li><Anchor href="/terms">Terms of Service</Anchor></li>
        </ul>
      </div>
    
      <div>
        <h6 class="text-theme font-medium">Contact</h4>
    
        <ul class="mt-4 space-y-2 *:text-sm">
          <li><Anchor href="mailto:contact@xlynxai.com">contact@xlynxai.com</Anchor></li>
          <li><Anchor href="tel:+17025821515">+1 (702) 582-1515</Anchor></li>
        </ul>
      </div>
    </div>
  
    <div class="pt-5 mt-8 text-center border-t border-zinc-800">
      <p class="text-sm text-secondary">&copy; All rights reserved.</p>
    </div>  
  </div>

  <div id="particles3" class="relative h-60">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-[#151515] via-[#151515]/80 via-95% to-transparent z-4"></div>
  </div>
</footer>

<script is:inline>
  particlesJS.load('particles3', `${base}/script/particlesjs-config.json`);
</script>