---
interface Props {
  icon: any,
  text: string,
  description?: string
}

const { icon: Icon, text, description } = Astro.props
---

<article class="flex items-center gap-x-4">
  <div class="">
    {
      Icon ? (
        <Icon class="text-theme" width={42} aria-hidden="true" />
      ) : null
    }
  </div>

  <div>
      <div class="text-zinc-100 text-2xl">{text}</div>
    { description && (<p class="mt-2 text-secondary text-sm">{description}</p>) }
  </div>
</article>