---
import Check from 'astro-heroicons/solid/Check.astro'
import Button from './ui/Button.astro'
import teamMeetingIllustration from '../assets/img/team-meeting.jpeg'
import Anchor from './ui/Anchor.astro'
import freeHighlightSvg from '../assets/svg/free-highlight.svg'
---

<section class="px-8 md:px-14 lg:px-40 xl:px-60 2xl:px-80 pb-20 relative z-1 border-b-2 border-dashed border-gray-400/10">

  <div class="flex pt-10 mb-10 sm:mb-20">
    <div>
      <h1 class="text-4xl sm:text-9xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl font-bold text-primary">WE ARE A <span class="text-theme">WEB DEVELOPMENT</span> AGENCY</h1>
    </div>
  
    <div class="*:mb-2 text-secondary *:block hidden sm:block">
      <Anchor href="#">Instagram</Anchor>
      <Anchor href="#">LinkedIn</Anchor>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row gap-x-20">
    <div class="lg:w-2/5">
      <div class="flex gap-x-8 mb-8">
        <div class="flex gap-x-3 items-center">
          <div class="p-[4px] sm:w-6 sm:h-6 grid place-content-center rounded-full bg-zinc-200">
            <Check width={18} />
          </div>
          <span class="text-secondary text-sm">24/7 Online support</span>
        </div>
  
        <div class="flex gap-x-3 items-center">
          <div class="p-[4px] sm:w-6 sm:h-6 grid place-content-center rounded-full bg-zinc-200">
            <Check width={18} />
          </div>
          <span class="text-secondary text-sm">Quick service</span>
        </div>
      </div>
  
      <div class="text-secondary mb-8 text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatum ratione rem ipsum id distinctio, dignissimos quis exercitationem eos suscipit soluta animi corporis accusantium incidunt eveniet dolor.
      </div>

      <div class="relative mb-8 sm:mb-0">
        <Button fullWidth>REQUEST A QUOTE</Button>
        <img class="hidden sm:block absolute -bottom-16 left-1/2 w-[200px] opacity-80" src={freeHighlightSvg.src} alt="free">
      </div>
    </div>

    <div class="md:hidden lg:block flex-1 flex justify-end">
      <img src={teamMeetingIllustration.src} class="aspect-video rounded-sm" alt="">
    </div>
  </div>

</section>