---
import Check from 'astro-heroicons/solid/Check.astro'
import Button from './ui/Button.astro'
import teamMeetingIllustration from '../assets/img/team-meeting.jpeg'
import Anchor from './ui/Anchor.astro'
---

<section class="overflow-hidden group h-screen bg-gradient-to-br from-transparent via-[#00B4FB]/5 to-[#00B4FB]/15 px-8 md:px-14 lg:px-40 xl:px-60 2xl:px-80 pt-20 md:pt-50 lg:pt-40 sm:pt-40 pb-30 relative z-1 border-b-2 border-dashed border-gray-400/10">

  <div class="flex pt-10 mb-10">
    <div class="flex-1">
      <h1 class="text-center sm:text-left text-4xl sm:text-9xl md:text-6xl lg:text-6xl xl:text-7xl 2xl:text-8xl font-bold text-primary">
        <span class="block">THE BUSSINESS'</span>
        <span class="text-theme block">AI AUTOMATIONS</span>
        <span class="block">PROVIDER TEAM</span>
      </h1>
    </div>
  
    <div class="*:mb-2 text-secondary w-1/8 *:block hidden sm:block">
      <Anchor href="#">Instagram</Anchor>
      <Anchor href="#">LinkedIn</Anchor>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row gap-x-20">
    <div class="lg:w-2/5">
      <div class="flex justify-between gap-x-8 mb-8">
        <div class="flex gap-x-3 items-center">
          <div class="p-[4px] sm:w-6 sm:h-6 grid place-content-center rounded-full bg-zinc-200">
            <Check width={18} />
          </div>
          <span class="text-secondary text-xs sm:text-sm">Fast</span>
        </div>
  
        <div class="flex gap-x-3 items-center">
          <div class="p-[4px] sm:w-6 sm:h-6 grid place-content-center rounded-full bg-zinc-200">
            <Check width={18} />
          </div>
          <span class="text-secondary text-xs sm:text-sm">Tailored</span>
        </div>

        <div class="flex gap-x-3 items-center">
          <div class="p-[4px] sm:w-6 sm:h-6 grid place-content-center rounded-full bg-zinc-200">
            <Check width={18} />
          </div>
          <span class="text-secondary text-xs sm:text-sm">Automatic</span>
        </div>
      </div>
  

      <div class="text-secondary mb-8 text-sm">
        We provide AI automation solutions that get rid of all the extra effort you put on your bussiness' repeatitive tasks. Our services are customized, our results measurable and our automations fast! 
      </div>

      <div class="*:w-full sm:*:w-auto relative mb-8 sm:mb-0">
        <Button freeBadge>REQUEST A QUOTE</Button>
      </div>
    </div>

    <div id="particles-js" class="md:hidden lg:block flex-1 flex justify-end">
      <!-- <img src={teamMeetingIllustration.src} class="aspect-video rounded-sm" alt=""> -->
    </div>
  </div>

</section>

<script is:inline src="/script/particles.min.js"></script>
<script is:inline>
  const base = location.href
  console.log(base)
  particlesJS.load('particles-js', `${base}script/particlesjs-config.json`, function() {
    console.log('callback - particles.js config loaded');
  });
</script>