---
import Anchor from "./ui/Anchor.astro"
import lynx from '../assets/img/lynx.png'
---

<header class="sticky top-0 background-default px-8 md:px-14 lg:px-40 xl:px-60 2xl:px-80 flex justify-between items-center py-4 z-2">
  <a href="/" class="text-primary font-semibold text-4xl">
    <img src={lynx.src} alt="lynx_logo" class="size-18">
  </a>

  <nav class="sm:block hidden">
    <ul class="text-secondary flex gap-x-8 *:hover:text-zinc-100 z-1 relative">
      <li><Anchor href="/">Home</Anchor></li>
      <li><Anchor href="#">About us</Anchor></li>
      <li><Anchor href="#">Portfolio</Anchor></li>
      <li><Anchor href="#">Reviews</Anchor></li>
      <li><Anchor href="#">Contact</Anchor></li>
    </ul>
  </nav>
</header>