---
interface Props {
  imageUrl: string
  title: string
  slug: string
}

const { imageUrl, title, slug } = Astro.props
---

<a href=`/blog/${slug}`>
  <article class="flex items-center gap-x-3 py-1">
    <div class="w-2/8 bg-zinc-800 aspect-video grid place-content-center overflow-hidden">
      <img class="w-full" src={imageUrl} alt={slug}>
    </div>
    <div>
      <h3 class="text-zinc-100">{title}</h3>
    </div>
  </article>
</a>