---
interface Props {
  name: string;
  description: string;
  icon: any;
  index: number;
  isPopular?: boolean | null;
}

const { name, description, icon: Icon, index, isPopular }: Props = Astro.props;
---

<article
  class="border border-zinc-100/20 group rounded-xl hover:border-[#00B4FB] min-h-40 group-hover:opacity-20 hover:opacity-100 transition-all"
>
  <div class="min-h-[300px]"></div>
  <div class="flex justify-between items-center mb-6">
    <!-- <Icon width={32} class="text-zinc-700" /> -->

    <!-- <div class="space-x-4 *:inline-block items-center flex">
      {
        isPopular && (
          <span class="animate-pulse text-xs text-theme p-1 font-semibold border border-dashed border-theme group-hover:border-white group-hover:!text-white">Highly Requested</span>
        )https://www.webstacks.com/capabilities/frontend-development
      }
    </div> -->
  </div>

  <div class="p-10">
    <h3 class="mb-4 text-xl text-zinc-100 font-bold">{name}</h3>
    <p class="text-sm text-secondary">{description}</p>
  </div>
</article>
